body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(170, 150, 255);
}

h1 {
    margin-top: 5px;
    margin-right: 15px;
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    color: rgb(160, 140, 255);
}

.image {
    display: block;
    float: none;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px
}

.image-l {
    display: block;
    float: left;
    margin: 0;
    max-width: 100%;
    padding: 10px 5px;
}

.image-s {
    display: block;
    float: none;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px
}


.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* Remove left & right side paddings from container */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


/* change dark theme bg*/
.bg-dark {
    --bs-bg-opacity: 0.0;
    --bs-dark-rgb: 0, 0, 0;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 15%, rgba(25, 0, 50, 0.9) 100%);

}


/* ---------- Navigationbar begin---------- */


/* add paddings to left & right sides of the navbar */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgb(210, 210, 255);
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
    font-size: 1.25rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    border-top: solid 2px rgba(0, 0, 0, 0.5);

}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: rgb(210, 210, 255);
    text-decoration: none;
    background-color: rgba(200, 200, 255, 0.1);
    /*change color of links in drop down here*/
}

.dropdown-menu {
    color: rgb(210, 210, 255);
    text-decoration: none;
    background-color: rgba(20, 0, 40, 0.0);
    /*change color of links in drop down here*/
}

.dropdown-menu>li>a {
    color: rgb(210, 210, 255);
    text-decoration: none;

}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    /*Change rollover cell color here*/
}

.navbar-default .navbar-nav>li>a {
    color: rgb(160, 140, 255);
    /*Change active text color here*/
}


.navbar-toggler {
    border-color: rgb(160, 140, 255);
    color: rgb(160, 140, 255);
    background-image: url(../images/list.svg);
    background-size: cover;
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
}


/* ---------- Main content begin ---------- */

.main-content {
    display: flex;
    min-height: 75vh;
    margin: 0.5rem 0;
    padding: 1rem 5px;
    background-color: rgba(5, 0, 15, 0.8);
    border: solid 4px #000;
    border-radius: 10px;
}

.main-content>.row>.col {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1rem;
}

.main-bot {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}


/* ---------- Footer begin ---------- */


.footer {
    margin: 0;
    padding: 5px 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 15%, rgba(25, 0, 50, 0.9) 100%);
    border-top: solid 3px rgba(0, 0, 0, 0.5);
}

.footer>.row>.col>a,
.footer>.row>.col>p {
    text-align: center;
    display: block;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgb(160, 140, 255);
    font-size: 1.35rem;
    border-top: solid 2px rgb(30, 0, 60);
    border-bottom: solid 2px rgb(30, 0, 60);

}


.footer>.row>.col>ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
    padding-bottom: 5px;
}

.footer>.row>.col>ul>li {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.footer ul>li>a {
    display: block;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    color: rgb(160, 140, 255);
    font-size: 1rem;
}

.footer a:hover,
.footer a:focus,
.footer>.row>.col>a:hover,
.footer>.row>.col>a:focus {
    color: rgb(210, 210, 255);
    text-decoration: underline;
}

.footer-xs {
    display: none;
}

.footer-md {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding: 5px;
}

.footer-md>a {
    display: block;
    text-decoration: none;
    color: rgb(160, 140, 255);
    font-size: 1.25rem;
}

@media (min-width: 576px) {


    .main-content {
        min-height: 85vh;
    }
}

@media (min-width: 992px) {

    p {
        font-size: 1.25rem;
    }

    .image-s {
        display: block;
        float: left;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
    }

    .image {
        display: block;
        float: left;
        max-width: 60%;
        padding-right: 15px;
        padding-top: 10px;
    }

    .image-l {
        padding-right: 32px;
        padding-left: 64px;
    }


/* ---------- Navigationbar begin---------- */


    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 6%;
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-default {
        font-size: 1.5rem;
    }

    .dropdown-menu {
        background-color: rgba(0, 0, 20, 0.7);
        /*change color of links in drop down here*/
    }


/* ---------- Main content begin ---------- */


    .main-content {
        display: flex;
        min-height: 95vh;
        margin: 3% 6%;
        padding: 2rem 2rem;
        background-color: rgba(5, 0, 15, 0.8);
        border: solid 4px #000;
        border-radius: 10px;
    }

    .main-content>.row>.col {
        margin-left: 64px;
        margin-right: 32px;
        margin-bottom: 2rem;
    }

    .main-bot {
        margin-left: 64px;
        margin-right: 32px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-content>.row>.col {
        margin-left: 64px;
        margin-right: 32px;
        margin-bottom: 2rem;
    }


/* ---------- Footer begin ---------- */



    .footer {
        padding-left: 12%;
        padding-right: 12%;
    }

    .footer ul>li>a {
        font-size: 1.2rem;
    }

    .footer-md {
        display: none;
    }

    .footer-xs {
        display: block;
    }

    .footer>.row>.col>a,
    .footer>.row>.col>p {
        padding: 1rem;
        border-top: none;
        font-size: 1.5rem;
    }

    .footer>.row>.col>ul {
        padding-bottom: 0.5rem;
        padding-top: 0px;

    }

    .footer>.row>.col>p {
        font-weight: bold;
    }

}

@media (min-width: 1600px) {

    .main-content {
        padding: 3rem;
        border: solid 6px #000;
        border-radius: 20px;
    }

    .footer {
        padding-left: 18%;
        padding-right: 18%;
    }

}